# https://github.com/natelandau/dotfiles/blob/master/dotfiles/.chezmoiscripts/run_onchange_before_10-homebrew-packages.sh.tmpl
{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

header "Install Homebrew packages"

brew update

BREW_DIR="$(brew --prefix)/bin/"

brew bundle install --file=$HOME/Brewfile

success "Homebrew packages installed"

header "Remove Homebrew packages"

brew bundle cleanup --force --file=$HOME/Brewfile

success "Homebrew packages removed"

{{- end }}