README.md
.github
.skills
examples
docs
dot_agents/skills
{{ if ne .chezmoi.os "darwin" -}}
private_Library
{{ end -}}
{{ if not (dig "homebrew" "company" "enabled" false .) -}}
private_Brewfile-company.tmpl
{{ end -}}
