[credential]
        helper = osxkeychain
[diff]
        external = difft
        tool = difftastic
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
[pager]
        difftool = true
[alias]
        dft = difftool
[commit]
        gpgsign = true
[tag]
        gpgSign = true
[core]
        excludesfile = ~/.gitignore
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[rerere]
        enabled = true
        autoupdate = true

[includeIf "gitdir:~/oss/"]
    path = ~/.gitconfig-oss

[includeIf "gitdir:~/source/"]
    path = ~/.gitconfig-company
