{{- $common := dig "homebrew" "categories" "common" true . -}}
{{- $dev := dig "homebrew" "categories" "dev" true . -}}
{{- $devops := dig "homebrew" "categories" "devops" true . -}}
{{- $ai := dig "homebrew" "categories" "ai" true . -}}
{{- $personal := dig "homebrew" "categories" "personal" true . -}}
{{ if $devops -}}
# category: devops
tap "grafana/grafana"
tap "vectordotdev/brew"
brew "argocd"
brew "kustomize"
brew "logcli"
brew "openstackclient"
brew "opentofu"
brew "pinact"
brew "podman"
brew "podman-compose"
brew "s3cmd"
{{ end -}}
{{ if $common }}
# category: common
brew "atuin"
brew "bat"
brew "difftastic"
brew "direnv"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "htop"
brew "jq"
brew "pinentry-mac"
brew "ripgrep"
brew "starship"
brew "uutils-coreutils"
brew "watch"
brew "yq"
brew "zellij"
brew "zoxide"
brew "kubectl"
cask "microsoft-edge"
cask "gpg-suite"
{{ end -}}
{{ if $dev }}
# category: dev
brew "openssl@3"
brew "cryptography"
brew "git-absorb"
brew "git-crypt"
brew "git-filter-repo"
brew "libgpg-error"
brew "go"
brew "golangci-lint"
brew "goreleaser"
brew "gpgme"
brew "hurl"
brew "just"
brew "pkgconf"
brew "pre-commit"
brew "sccache"
brew "uv"
brew "node"
{{ end -}}
{{ if $ai }}
# category: ai
brew "anomalyco/tap/opencode"
cask "gitbutler"
brew "rtk"
brew "worktrunk"
{{ end -}}
{{ if $personal }}
# category: personal
brew "typst"
brew "zola"
{{ end -}}
