{{- $companyGit := dig "git" "company" dict . -}}
{{- if $companyGit -}}
[user]
        name = {{ $companyGit.user.name }}
        email = {{ $companyGit.user.email }}
        signingkey = {{ $companyGit.user.signingKey }}

[url "{{ $companyGit.url.base }}"]
{{- range $companyGit.url.insteadOf }}
	insteadOf = {{ . }}
{{- end }}
{{- end }}
